
.nx/installation
.nx/cache

.git/
node_modules/
**/node_modules/**
**/.next
.turbo
.env

apps/contracts/lib/forge-std/*
apps/chrome-extension/dist*/*
packages/attestation/dist/*

.idea/


packages/cf-attest/node_modules/*
packages/cf-attest/.wrangler/*
